@model WebApplication9.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "Yeniurun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post">
    <div>
        <label>Urun ad</label>
        <input type="text" name="URUNAD" class="form-control" required="" maxlength="20"/>
    </div>
    <div>
        <label>Marka</label>
        <input type="text" name="MARKA" class="form-control" placeholder="marka giriniz" required="" />
    </div>
    <div>
        <label>Urun kategori</label>
       @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.Degerler,new {@class="form-control"})
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" name="FIYAT" class="form-control" />
    </div>
    <div>
        <label>Stok adeti</label>
        <input type="text" name="STOK" class="form-control" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Urun Ekle</button>
    </div>


</form>

