@{
    ViewBag.Title = "About";
}
<br />
<form  method="get">

    <fieldset>
        film turu sec <select id="MovieType" name="MovieType" class="form-control">



    <option value="0">aksiyon</option>

    <option value="1">Drama</option>

    <option value="2">komedi</option>

    <option value="3">bilim kurgu</option>
    <option value="4">animasyon</option>
    <option value="5">macera</option>
    <option value="6">fantastik</option>

</select>


    </fieldset>

</form>